@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("yellow-theme.css");

:root {
    --background: theme("colors.gray.100");
}

.button {
    padding: theme("button.padding");
    border-radius: theme("button.borderRadius");
}

.button:hover {
    opacity: 0.8;
}