@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme("colors.gray.100");
}

/* Themes primary Color */


[data-theme="dark"] {
    --primary-color: theme("colors.dirty-yellow-dark");
    --background: theme("colors.gray.900");
    --primary-button: theme("colors.green.700");
}

[data-theme="light"] {
    --primary-color: theme("colors.dirty-yellow-light");
    --background: theme("colors.white");
    --primary-button: theme("colors.green.200");
}